NODE_ENV=dev
SERVICE_PORT=3000
SERVICE_NAME="RBI-DB-UPDATE"
LOG_ENABLED=true
MYSQL_HOST_LOAN_TAPE="temp-snapshot-june24-lms-cluster.cluster-c1z93jsyca9u.ap-south-1.rds.amazonaws.com"
MYSQL_PORT_LOAN_TAPE=3306
MYSQL_USER_LOAN_TAPE= "sttashrdsmain"
MYSQL_PASSWORD_LOAN_TAPE="Sanjeev89190"
MYSQL_DATABASE_LOAN_TAPE= "sttash_website_LIVE"
MYSQL_DATABASE_URL_LOAN_TAPE="mysql://sttashrdsmain:Sanjeev89190@snapshot-april-01.c1z93jsyca9u.ap-south-1.rds.amazonaws.com:3306/sttash_website_LIVE"
MYSQL_CONNECTION_LIMIT_LOAN_TAPE=10000
MYSQL_HOST_PROD="sept30maindb-cluster.cluster-c1z93jsyca9u.ap-south-1.rds.amazonaws.com"
MYSQL_PORT_PROD=3306
MYSQL_USER_PROD="monideep_purkayastha"
MYSQL_PASSWORD_PROD="c6c25c45bb89b951b7a74890cf9c9673"
MYSQL_DATABASE_PROD="sttash_website_LIVE"
MYSQL_DATABASE_URL_PROD="mysql://sttashrdsmain:Sanjeev89190@snapshot-april-01.c1z93jsyca9u.ap-south-1.rds.amazonaws.com:3306/sttash_website_LIVE"
MYSQL_CONNECTION_LIMIT_PROD=10000

